
body {
	background-image: url(img/background_final.jpg) !important;
	background-size:  cover !important ;
	background-repeat: no-repeat !important;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.white-bg {
	background-color: white;
}

#logo {
	height: 50px;
	width: auto;
}

#logo-container {
	padding: 20px;
}

.main-wrapper {
	padding: 3%;
	background-color: white;
	border-radius: 5px;
}

.scrollable {
	overflow: auto !important;
}

