
body {
	background-image: url(img/background_raw.png) !important;
	background-size:  cover !important ;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.white-bg {
	background-color: white;
}

#logo {
	height: 50px;
	width: auto;
}

#logo-container {
	padding: 20px;
}

.main-wrapper {
	padding: 2.2%;
	background-color: white;
	border-radius: 5px;
}

.scrollable {
	overflow: auto !important;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.center-btn {
	text-align: center;
}

.transparent {
	background-color: rgba(0,0,0,0) !important;
}

.without-overflow {
	overflow: hidden !important;
}

#footer {
	margin-top : 20px;
	margin-bottom: 10px;
}

.footer-segment {
	text-align: center;
	color : white;
}


/* Mathjax container */
.mjx-chtml.MJXc-display {
	margin-top : auto;
	margin-bottom: auto;
	padding: none;
	margin: 0px;
}

#mjx-formula {
	padding-top: 50px;
	padding-bottom: 10px;
	height: 100%;
	width : 100%;
	overflow: auto;

}

::-webkit-scrollbar {
	border-radius: 10px;
}

#viewer-header {
	margin-bottom: 0px;
}

#mjx-area {
	height: 100%;
	display : flex;
	width : 100%;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	overflow-x: auto;
	height: 100%;
	width: 100%;
}

#contact-link {
	color : lightgray;
	text-decoration : underline;
}

