
body {
	background-image: url(img/background_raw.png) !important;
	background-size:  cover !important ;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.white-bg {
	background-color: white;
}

#logo {
	height: 50px;
	width: auto;
}

#logo-container {
	padding: 20px;
}

.main-wrapper {
	padding: 2.2%;
	background-color: white;
	border-radius: 5px;
}

.scrollable {
	overflow: auto !important;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.center-btn {
	text-align: center;
}

.transparent {
	background-color: rgba(0,0,0,0) !important;
}

.vertical-align {	

}

#footer {
	color : white;
	padding-bottom: 30px;
}

/* Mathjax container */
.mjx-chtml.MJXc-display {
	margin-top : auto;
	margin-bottom: auto;
	padding: none;
	margin: 0px;
}

#mjx-formula {

}

#viewer-header {
	margin-bottom: 0px;
}

#mjx-area {
	height: 100%;
	display : flex;
	align-items: center;
	justify-content: center;
}
