
#library-wrapper {
	padding: 3%;
	background-color: white;
	border-radius: 5px;
}

#library-grid {
	margin-top: 10px;;
}

#library-matrix-list {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#library-matrix-table-column {
	
	/*padding: 0px !important;*/
}

.mjx-chtml.MJXc-display {
	padding: none;
	margin: 0px;
}

#library-matrix-table-wrapper {
	height: 100%;
	box-shadow: 0.1px 0.1px 3px 0px lightgray;
	border-radius: 5px;;
	border : 1px solid lightgray
}

.form-matrix{
	width : 50px !important;
}

.entries-grid.column {
	padding: 4px !important;
}

.entries-grid.row {
	padding: 0px !important;
}

.entries-grid.grid {
	padding : 1.5% !important;
}

#btn-add {
	text-align : center;
	margin-top : 20px;
}

#viewer-wrapper {
	width: 100%;
	text-align: center;
}
